<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/home.css" />
    <title>Guestbook</title>
  </head>
  <body>
    <h1>Welcome to CICCC Guestbook!</h1>
    <div class="container">
      <p>
        If you want to know about us, you can check
        <a id="notes" href="./readNotes.html">Notes</a> left by other guests.
      </p>
      <div class="leave-message">
        <p>
          Share your experience to help others!
          <a href="./leaveNote.html">Leave a message</a>
        </p>
      </div>
    </div>
  </body>
</html>
