<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/leaveNote.css">
    <title>Leave a message</title>
</head>
<body>
    <div class="container">
        <h1 class="headline">Please leave a message in our Guestbook.</h1>
        <form action="#" method="post">
            <div class="input">
                <label for='name' class="input-field">Full name: </label>
                <input id="name" type="text" class="input-field" required placeholder="John Lennon" />
            </div>
            <div class="input">
                <label for='name' class="input-field">Review: </label>
                <textarea name="" id="textarea" cols="30" rows="10" placeholder="Share your experience to help others!"></textarea>
            </div>
            <div class="input btn">
                <input type="submit" class="submit" value="submit">
            </div>
        </form>
    </div>
</body>
</html>
